"""Dictionary object to store OUI information."""

# pylint: disable=too-many-lines
import typing

OUI_MAPPINGS: typing.Dict[str, str] = {
{%- for assignment in assignments %}
    "{{ assignment.oui }}": "{{ assignment.org }}",
{%- endfor %}
}

